* text eol=lf
*.jar binary
*.bat binary
*.zip binary
*.exe binary
*.epub binary
*.pdf binary
*.vsdx binary
*.doc binary
*.bcfks binary
*.crt binary
*.p12 binary
*.ttf binary
*.txt text=auto

# Image
*.ai filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
