###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

#apiKey='${wss_apikey}'
apiKey=
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
#requesterEmail=user@provider.com

projectName=
projectVersion=
projectToken=
#projectTag= key:value

productName=
productVersion=
productToken=

# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false
#excludeDependenciesFromNodes=.*commons-io.*,.*maven-model

resolveAllDependencies=false
archiveExtractionDepth=7
followSymbolicLinks=true
gradle.resolveDependencies=true
gradle.aggregateModules=true
gradle.preferredEnvironment=wrapper
gradle.excludeModules=./qa/*
maven.resolveDependencies=true
maven.runPreStep=true
maven.aggregateModules=true
maven.ignoredScopes=None
html.resolveDependencies=true
npm.resolveDependencies=true
npm.runPreStep=true
npm.yarnProject=true
go.resolveDependencies=true
go.collectDependenciesAtRuntime=true
go.dependencyManager=
python.resolveDependencies=true
python.ignoreSourceFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.requirementsFileIncludes=dev-requirements.txt
python.installVirtualenv=true
ruby.resolveDependencies=true
ruby.ignoreSourceFiles=false

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.cc **/*.zip **/*.cpp **/*.c **/*.swf **/*.tgz **/*.h **/*.js **/*.hpp **/*.py **/*.gzip **/*.cs **/*.rb **/*.exe **/*.gz **/*.pl **/*.cxx **/*.c++ **/*.hxx **/*.jar **/*.java **/*.go **/*.mod **/*.sum **/*.rb

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true
