/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * The OpenSearch Contributors require contributions made to
 * this file be licensed under the Apache-2.0 license or a
 * compatible open source license.
 */

grant codeBase "${codebase.arrow-flight-rpc}" {
  // arrow flight service permissions
  permission java.util.PropertyPermission "arrow.allocation.manager.type", "write";
  permission java.util.PropertyPermission "arrow.enable_null_check_for_get", "write";
  permission java.util.PropertyPermission "arrow.enable_unsafe_memory_access", "write";
  permission java.util.PropertyPermission "arrow.memory.debug.allocator", "write";

  permission java.util.PropertyPermission "io.netty.tryReflectionSetAccessible", "write";
  permission java.util.PropertyPermission "io.netty.allocator.numDirectArenas", "write";
  permission java.util.PropertyPermission "io.netty.noUnsafe", "write";
  permission java.util.PropertyPermission "io.netty.tryUnsafe", "write";
};
