/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * The OpenSearch Contributors require contributions made to
 * this file be licensed under the Apache-2.0 license or a
 * compatible open source license.
 */

grant {
  // needed because of problems in ClientConfiguration
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

  // S3 client opens socket connections to access repository
  permission java.net.SocketPermission "*", "connect";

  // S3 client set Authenticator for proxy username/password
  permission java.net.NetPermission "setDefaultAuthenticator";

  // Property permissions for tests and configuration
  permission java.util.PropertyPermission "opensearch.allow_insecure_settings", "read,write";
  permission java.util.PropertyPermission "aws.sharedCredentialsFile", "read,write";
  permission java.util.PropertyPermission "aws.configFile", "read,write";
  permission java.util.PropertyPermission "opensearch.path.conf", "read,write";
  permission java.io.FilePermission "config", "read";
};
