
// This needs a serious fix. 
// But we'll come to it. We will need the logic of policy expansion. 
grant {
  // allow to test Security policy and codebases
  permission java.net.NetPermission "accessUnixDomainSocket";
  permission java.net.SocketPermission "*", "accept,connect";
};
