grant {
  // allow to test Security policy and codebases
  permission java.net.NetPermission "accessUnixDomainSocket";
  permission java.net.SocketPermission "*", "accept,connect";
};
