name: Gradle Assemble
on: [pull_request]

jobs:
  assemble:
    if: github.repository == 'opensearch-project/OpenSearch'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
        os: [ubuntu-latest, windows-latest, macos-13]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Set up JDK 17
        # See please https://docs.gradle.org/8.10/userguide/upgrading_version_8.html#minimum_daemon_jvm_version
        if: matrix.java == 11
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Set JAVA11_HOME
        # See please https://docs.gradle.org/8.10/userguide/upgrading_version_8.html#minimum_daemon_jvm_version
        if: matrix.java == 11
        shell: bash
        run: |
          echo "JAVA11_HOME=$JAVA_HOME_11_${{ runner.arch }}" >> $GITHUB_ENV
      - name: Setup docker (missing on MacOS)
        id: setup_docker
        if: runner.os == 'macos'
        uses: douglascamata/setup-docker-macos-action@main
        continue-on-error: true
        with:
          upgrade-qemu: true
          colima:  v0.6.8
      - name: Run Gradle (assemble)
        if: runner.os == 'macos' && steps.setup_docker.outcome != 'success'
        run: |
          # Report success even if previous step failed (Docker on MacOS runner is very unstable)
          exit 0;
      - name: Run Gradle (assemble)
        if: runner.os != 'macos' && matrix.java != 11
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE 
      - name: Run Gradle (assemble)
        shell: bash
        if: runner.os != 'macos' && matrix.java == 11
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE -Druntime.java=11
      - name: Run Gradle (assemble)
        if: runner.os == 'macos' && steps.setup_docker.outcome == 'success' && matrix.java == 11
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE -Druntime.java=11
      - name: Run Gradle (assemble)
        if: runner.os == 'macos' && steps.setup_docker.outcome == 'success' && matrix.java != 11
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE
