name: Gradle Precommit
on: [pull_request]

jobs:
  precommit:
    if: github.repository == 'opensearch-project/OpenSearch'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 21, 25 ]
        os: [ubuntu-latest, windows-latest, macos-15, macos-15-intel, ubuntu-24.04-arm]
        include:
          - java: 21
            os: 'windows-2025'
            experimental: true
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: gradle
      - name: Run Gradle (precommit)
        continue-on-error: ${{ matrix.experimental }}
        shell: bash
        run: |
          ./gradlew javadoc precommit --parallel
